<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}  <!-- Load static files -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="POST">
            {% csrf_token %}   <!-- Cross-Site Request Forgery token helps to protect against attacks -->
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</body>
</html>
